<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 
 <!--地图大小设置-->
 <style>
	#wrapper{
		width: 500px;
		height: 500px;
	}
</style>

 <meta charset="UTF-8"> 
<title>Insert title here</title>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/map.js"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link href="../css/bookpage.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<!--高德地图连接-->
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.8&key=73ffdbe93adbe571eb3697538cc70707"></script> 


<script type="text/javascript" th:inline="javascript">
$(document).ready(function(){	
	  //使入住时间 直接显示当天的日期
	        var time = new Date();
	        var day = ("0" + time.getDate()).slice(-2);	        
	        var month = ("0" + (time.getMonth() + 1)).slice(-2);
	        var today = time.getFullYear() + "-" + (month) + "-" + (day);
			var nextday = time.getFullYear() + "-" + (month) + "-" + (parseInt(day)+1);
	        $('#date_info').val(today);
			$('#date_info1').val(nextday);
	       		
           search();
            })
            
            
   
    //展示时间段房间信息        
    function search(){
	var today = $("#date_info").val();
	var nextday = $("#date_info1").val();
	var livedays =(Date.parse(nextday)-Date.parse(today))/1000/60/60/24;
	$("#livedays").prop("value",livedays);
	 $.ajax({
     	url:"../type/show",
     	data:{
     		inTime:$("#date_info").val(),
     	    outTime:$("#date_info1").val()  		
     	},
     	success:function(data){
     		
     		var types=data.types;
     		var discount=data.discount;
     		if(discount==1){
     			$("#lists").html("");
         		var head=$('<tr><th style="text-align: center;">客房</th><th style="text-align: center;">房型</th><th style="text-align: center;">基本信息</th><th style="text-align: center;">今日价格</th><th style="text-align: center;">状态</th></tr>');
         		$("#lists").append(head);
         		
         		for (var i = 0; i < types.length; i++) {
         			var po=JSON.stringify(types[i]);
     				var tr = $("<tr></tr>");
     				var pic = $("<td class='td-g-img'><img src="+ types[i].img+ "></td>");
     				var type=$("<td></td>").text(types[i].type);
     				var description=$("<td></td>").text(types[i].description);
     				var discountPrice=types[i].price;
     				var price =$("<td></td>").text(types[i].price+"(今日不打折)");
     				
     			  if(types[i].number!=0){
     				  var state = $("<td><button class='button' onclick='bookdetail("+po+","+discountPrice+")'>预订</button><button class='button' onclick='teambook("+po+","+discountPrice+")' style='width:120px'>团体预订</button></td>"); 
     				   
     			  }else{
     				  var state = $("<td><button class='buttonfull'>已满</button></td>");
     			  }
     				tr.append(pic);
     				tr.append(type);
     				tr.append(description);
     				tr.append(price);
     				tr.append(state);
     				$("#lists").append(tr);
     			  }			
     		}else{
     			
     			$("#lists").html("");
         		var head=$('<tr><th style="text-align: center;">客房</th><th style="text-align: center;">房型</th><th style="text-align: center;">基本信息</th><th style="text-align: center;">今日价格</th><th style="text-align: center;">状态</th></tr>');
         		$("#lists").append(head);
         		
         		for (var i = 0; i < types.length; i++) {
         			var po=JSON.stringify(types[i]);
     				var tr = $("<tr></tr>");
     				var pic = $("<td class='td-g-img'><img src="+ types[i].img+ "></td>");
     				var type=$("<td></td>").text(types[i].type);
     				var description=$("<td></td>").text(types[i].description);
     				
                   var discountPricecontent=Math.round(parseInt(types[i].price)*parseFloat(discount))+"(今日"+discount+"折)"; 
                   var discountPrice=Math.round(parseInt(types[i].price)*parseFloat(discount));
     				var price =$("<td></td>").text(discountPricecontent);
     				
     			  if(types[i].number!=0){
     				  var state = $("<td><button class='button' onclick='bookdetail("+po+","+discountPrice+")'>预订</button><button class='button' onclick='teambook("+po+","+discountPrice+")' style='width:120px'>团体预订</button></td>"); 
     				   
     			  }else{
     				  var state = $("<td><button class='buttonfull'>已满</button></td>");
     			  }
     				tr.append(pic);
     				tr.append(type);
     				tr.append(description);
     				tr.append(price);
     				tr.append(state);
     				$("#lists").append(tr);
     			  }			
     			
     		}
     		
 		}     
     	})         	
	
}        
 //点击预定购跳转页面
 function bookdetail(type,discountPrice){
	 if([[${session.login}]]==null)
	 {alert("请先登录，老铁")}
	 else{
	  /* var roomtype=encodeURI(encodeURI(type.type)); */
	  location.href="../one/book?typeid="+type.type_id+"&inTime="+$("#date_info").val()+"&outTime="+$("#date_info1").val()
			            +"&img="+type.img+"&price="+discountPrice+"&description="+type.description+"&type="+type.type+"&livedays="+$("#livedays").val(); 
	 }
 }
     
 //点击预定团体预定页面
 function teambook(type,discountPrice){
	 if([[${session.login}]]==null)
	 {alert("请先登录，老铁")}
	 else{
	  /* var roomtype=encodeURI(encodeURI(type.type)); */
	  location.href="../team/book?typeid="+type.type_id+"&inTime="+$("#date_info").val()+"&outTime="+$("#date_info1").val()
			            +"&img="+type.img+"&price="+discountPrice+"&description="+type.description+"&type="+type.type+"&livedays="+$("#livedays").val(); 
	 }
 }
</script>


</head>
<body style="text-align:center">
<input type="hidden" id="livedays">  
	<div class="head">
	<div class="headtitle">罗马假日酒店</div>
	<!-- 从session中取值 为空的话显示登录注册-->
	
	
	<div  th:if="${session.login} ==null" >
	<div class="login"> <a href="../login.html">登录 </a></div>
	<div class="loginimg"><img src="../img/login1.png" /> </div>
	<div class="login"><a href="../register.html">注册 </a></div>
	<div class="loginimg"><img src="../img/register.png" /> </div>
	</div>
	<!-- 从session中取值 不为空显示用户信息-->	
	
	
	<div  th:if="${session.login} != null" >
	<div class="login"><a href="login/logout">注销</a></div>
	<div class="loginimg"><img src="../img/logout.png" /> </div>
	
	<div class="login"><a href="orders/all">订单</a></div>
	
	<div class="loginimg"><img src="../img/order.png" /> </div>
	<div class="login"><a href="/websocket.html">消息</a></div>
	<div class="loginimg"><img src="../img/message.png" /> </div>
	<div class="login" th:text="${session.login.account==null}?${session.login.tel}:${session.login.account}"></div>
	<div class="login">用户:</div>
	<div class="loginimg"><img src="../img/register.png" /> </div>
	</div>
	</div>
	
	<div id="myCarousel" class="carousel slide" >
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner" style="height:300px">
		<div class="item active">
			<img src="../img/slide1.jpg" alt="First slide" >
			<div class="carousel-caption">温馨</div>
		</div>
		<div class="item">
			<img src="../img/slide2.jpg" alt="Second slide">
			<div class="carousel-caption">舒适</div>
		</div>
		<div class="item">
			<img src="../img/slide3.jpg" alt="Third slide">
			<div class="carousel-caption">惬意</div>
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	</a>
</div>
<br>
<br>
<br>
<!--时间段查询-->
<div class="timeSearch">
入住时间：<input type="date" id="date_info" >&nbsp;&nbsp;&nbsp;
退房时间：<input type="date" id="date_info1">&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="button" onclick="search()">查询</button>
</div>
<br>
<br>
<br>
<!-- 房间 -->
<table id="lists" style="font-size: 20px">
			
	</table>
	<br>
	<br>
	<!--联系电话及地址  -->
	<div class="map">
	<span style="font-size: 20px">联系电话：010-64733333</span><br>
	<span style="font-size: 20px">详细地址：天府大道8888号</span>
    <div id="wrapper"></div>
	<br>
	<br>
	<br>
	<br>
	<br>	
     </div>
     <button class="back_to_top">返回顶部</button>
     <!--版权-->
     <div id="footer">
			罗马假日酒店-hotel&copy; 版权所有|<a href="backstage/login.html">后台管理登录</a>
		</div>
</body>













<script type="text/javascript">
var backButton=$('.back_to_top');
function backToTop() {
    $('html,body').animate({
        scrollTop: 0
    }, 800);
}
backButton.on('click', backToTop);

$(window).on('scroll', function () {/*当滚动条的垂直位置大于浏览器所能看到的页面的那部分的高度时，回到顶部按钮就显示 */
    if ($(window).scrollTop() > $(window).height())
        backButton.fadeIn();
    else
        backButton.fadeOut();
});
$(window).trigger('scroll');/*触发滚动事件，避免刷新的时候显示回到顶部按钮*/

</script>
</html>