<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 
 <meta charset="UTF-8"> 
<title>Insert title here</title>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link href="../css/bookpage.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script type="text/javascript">

$(document).ready(function(){	
	  //使入住时间 直接显示当天的日期
	        var time = new Date();
	        var day = ("0" + time.getDate()).slice(-2);	        
	        var month = ("0" + (time.getMonth() + 1)).slice(-2);
	        var today = time.getFullYear() + "-" + (month) + "-" + (day);
			var nextday = time.getFullYear() + "-" + (month) + "-" + (parseInt(day)+1);
	        $('#date_info').val(today);
			$('#date_info1').val(nextday);
	       		
           search();
            })
            
            
   
            
    function search(){
	var today = $("#date_info").val();
	var nextday = $("#date_info1").val();
	var livedays =(Date.parse(nextday)-Date.parse(today))/1000/60/60/24;
	$("#livedays").prop("value",livedays);
	 $.ajax({
     	url:"../type/show",
     	data:{
     		inTime:$("#date_info").val(),
     	    outTime:$("#date_info1").val()  		
     	},
     	success:function(data){
     		$("#lists").html("");
     		var head=$('<tr><th style="text-align: center;">客房</th><th style="text-align: center;">房型</th><th style="text-align: center;">基本信息</th><th style="text-align: center;">今日价格</th><th style="text-align: center;">状态</th></tr>');
     		$("#lists").append(head);
     		
     		for (var i = 0; i < data.length; i++) {
     			var po=JSON.stringify(data[i]);
 				var tr = $("<tr></tr>");
 				var pic = $("<td class='td-g-img'><img src="+ data[i].img+ "></td>");
 				var type=$("<td></td>").text(data[i].type);
 				var description=$("<td></td>").text(data[i].description);
 				var price =$("<td></td>").text(data[i].price);
 				
 			  if(data[i].number==0){
 				  var state = $("<td><button class='button' onclick='bookdetail("+po+")'>预订</button></td>"); 
 				   
 			  }else{
 				  var state = $("<td><button class='buttonfull'>已满</button></td>");
 			  }
 				tr.append(pic);
 				tr.append(type);
 				tr.append(description);
 				tr.append(price);
 				tr.append(state);
 				$("#lists").append(tr);
 			  }			
 		}     
     	})         	
	
}        
 //点击预定购跳转页面
 function bookdetail(type){
	  
	  /* var roomtype=encodeURI(encodeURI(type.type)); */
	  location.href="../html/bookdetailpage.html?typeid="+type.type_id+"&inTime="+$("#date_info").val()+"&outTime="+$("#date_info1").val()
			            +"&img="+type.img+"&price="+type.price+"&description="+type.description+"&type="+type.type+"&livedays="+$("#livedays").val(); 
	
 }
            
</script>


</head>
<body>
<input type="hidden" id="livedays"> 
	<div class="head">
	<div class="headtitle">罗马假日酒店</div>
	<!-- 从session中取值 为空的话显示登录注册-->
	
	
	<div  th:if="${session.uid} ==null" >
	<div class="login"> 登录 </div>
	<div class="loginimg"><img src="../img/login1.png" /> </div>
	<div class="login"> 注册 </div>
	<div class="loginimg"><img src="../img/register.png" /> </div>
	</div>
	<!-- 从session中取值 不为空显示用户信息-->	
	
	
	<div  th:if="${session.uid} != null" >
	<div class="login" th:text="${session.uid}"></div>
	<div class="login">用户：</div>
	<div class="loginimg"><img src="../img/register.png" /> </div>
	</div>
	</div>
	
	<div id="myCarousel" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#myCarousel" data-slide-to="1"></li>
		<li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div class="carousel-inner">
		<div class="item active">
			<img src="../img/slide1.jpg" alt="First slide">
			<div class="carousel-caption">温馨</div>
		</div>
		<div class="item">
			<img src="../img/slide2.jpg" alt="Second slide">
			<div class="carousel-caption">舒适</div>
		</div>
		<div class="item">
			<img src="../img/slide3.jpg" alt="Third slide">
			<div class="carousel-caption">惬意</div>
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
	    <span class="sr-only">Previous</span>
	</a>
	<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
	    <span class="sr-only">Next</span>
	</a>
</div>
<br>
<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;入住时间：<input type="date" id="date_info" ><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;退房时间：<input type="date" id="date_info1"><br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<td><button class="button" onclick="search()">查询</button></td>
<!-- 房间 -->
<table id="lists">
			
	</table>
	<br>
	<br>	
	<br>	

</body>
</html>