<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 
 <meta charset="UTF-8"> 
<title>Insert title here</title>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link href="../css/bookpage.css" rel="stylesheet" type="text/css"/>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" th:inline="javascript">

$(document).ready(function(){
	var url = window.location.href;

    var typeid = url.split("?")[1].split("&")[0].split("=")[1]
    var inTime = url.split("&")[1].split("=")[1]; 
    var outTime = url.split("&")[2].split("=")[1];
    var img = url.split("&")[3].split("=")[1];
    var price = url.split("&")[4].split("=")[1];
    var description = url.split("&")[5].split("=")[1];
    var type = url.split("&")[6].split("=")[1];
    var livedays = url.split("&")[7].split("=")[1];
    
    var roomtype = decodeURI(type);
    var roominfo = decodeURI(description);
    $("#inTime").html(inTime);
    $("#outTime").html(outTime);
    document.getElementById("typeid").value = parseInt(typeid);

 
    document.getElementById("pic").src = img; 
    $("#price").html(parseInt(price)*parseInt(livedays));  
    $("#type").html(roomtype);
    $("#roominfo").html(roominfo);
    
    //遍历出该用户的所有房客资料
 $.ajax({
	 url:"../login/allPerson", 
	 success:function(data){
		 for (var i = 0; i < data.length; i++) {
  			    var tr=$("<tr></tr>")
  			    if(i==0){
  			    	var radio = $("<td style='text-align:center'></td>").html("<input type='checkbox' name='passenger' value='"+data[i].person_id+"' checked='checked'>");
  			    }else{
  			    	var radio = $("<td style='text-align:center'></td>").html("<input type='checkbox' name='passenger' value='"+data[i].person_id+"'>");
  			    }
				
				var name=$("<td style='text-align:center'></td>").html(data[i].name);
				var idcard=$("<td style='text-align:center'></td>").html(data[i].idcard);
				var tel=$("<td style='text-align:center'></td>").html(data[i].tel);
				
				tr.append(radio);
				tr.append(name);
				tr.append(idcard);
				tr.append(tel);
				$("#passenger").append(tr);
			  }					 
	 }
	 
 }) 
 //遍历出所有用户的评价
 $.ajax({
      url:"../comment/all",	
      data:{typeid:$("#typeid").val()},
	  success:function(data){
		  for (var i = 0; i < data.length; i++) {
			  var div1=$("<div class='media'></div>"); 
			  var div=$("<div class='media-body'></div>");	    
			  var uid=$("<h4 class='media-heading'></h4>").text("用户:"+data[i].loginid);
			  var comment=$("<p></p>").text(data[i].description);
			  var hr=$("<hr>");	
			  div1.append(div);
			  div1.append(uid);
			  div1.append(comment)
			  div1.append(hr);
			  $("#commentbox").append(div1);
		}	  
	  }	 
 })
 
//查询出当前的会员及折扣
 $.ajax({
     url:"/member/currentMember",	
	  success:function(map){
		 var vipRank=$("<span></span>").text("vip"+map.member.rank+"会员价格:$")
		 var vipPrice=$("<span></span>").text(parseFloat(map.discount)*parseInt($("#price").html()));
		 $("#typedetail").append(vipRank)
	     $("#typedetail").append(vipPrice)
	  }	 
})
 
  
            })
            
 /*添加房客  */        
 function addPassenger(){
	//中文名验证
	var regName=/^[\u4E00-\u9FA5\uf900-\ufa2d]{2,4}$/;
	//电话号码校验
	var regPhone = /1[345678][0-9]{9}$/;
	//身份证验证
	var regIdCard=/^(^[1-9]\d{7}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}$)|(^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])((\d{4})|\d{3}[Xx])$)$/;

	
	if(regName.test($("#name").val())&&regPhone.test($("#tel").val())&&regIdCard.test($("#idcard").val())){
	$.ajax({
		url:"../person/addperson",
		data:{
			name:$("#name").val(),
			tel:$("#tel").val(),
			idcard:$("#idcard").val(),
		},
		success:function(msg){
			alert(msg);
			if(msg.search("成功")!=-1){
				location.reload();
			}
		}			
		}) 
	
}else{
     alert("请输入中文名和有效的身份证号与电话号码");
}
	
	
}
  /*提交订单 */ 
  function submitOrder(){
	  if(confirm("确认提交订单吗？")){
	  var obj=document.getElementsByName("passenger");
	  var personId=[];
	  for(var i in obj){
		  if(obj[i].checked){
			  personId.push(obj[i].value);
		  }
	  }
	  
	  $.ajax({
		 url:"/order/create",
		 data:{
			 "in_time":$("#inTime").html(),
			 "out_time":$("#outTime").html(),
			 "typeID":$("#typeid").val(),
		     "persons":personId,
	         "in_air":$('input[name="airService"]:checked').val(),
	         "order_state":$('input[name="offlinepay"]:checked').val(),	 
	         "msg":$("#msg").val()
		 },
		 
		success:function(data){
			var msg=data.msg;
			alert(msg);
			if(msg.search("成功")!=-1){			
			 location.href="/order/page?orderid="+data.orderid+"&typeid="+$("#typeid").val();		
			}
		} 	 
	 })     
  }}
  /*提交订单 */ 
  
</script>


</head>
<body>
<input type="hidden" id="typeid">
<div class="head">
	<div class="headtitle"><a href="/">罗马假日酒店</a></div>
	<div  th:if="${session.login} != null" >
	<div class="login"><a href="../login/logout">注销</a></div>
	<div class="loginimg"><img src="../img/logout.png" /> </div>
	
	<div class="login"><a href="../orders/all">订单</a></div>
	<div class="loginimg"><img src="../img/order.png" /> </div>
	
	<div class="login" th:text="${session.login.account}"></div>
	<div class="login">用户:</div>
	<div class="loginimg"><img src="../img/register.png" /> </div>
	</div>
	</div>
	<div class="typedetail" id="typedetail">
	<img  id="pic"/><br>
	房间类型:<span id="type" ></span><br>
	基本信息:<span id="roominfo" ></span><br>
	入住时间:<span id="inTime" ></span><br>
	离开时间:<span id="outTime" ></span><br>
	单间费用:$<span id="price" style="color:red"></span><br>
	
	</div>
	
	
	<!-- 入住房客信息  -->
	
	<table class="table table-striped" style="width:600px;margin:auto">
	<thead>
		<tr>
		    <th style='text-align:center'>选择房客</th>
			<th style='text-align:center'>姓名</th>
			<th style='text-align:center'>身份证</th>
			<th style='text-align:center'>电话</th>
			
			
		</tr>
	</thead>
	<tbody id="passenger">
		
	</tbody>
</table>
<br>
<br>
<div class="row">
  <div align="center" >
    <form class="form-inline" role="form" onsubmit="return false;">
	<div class="form-group">
		<label class="sr-only" for="name">名称</label>
		<input type="text" class="form-control" id="name" 
			   placeholder="请输入姓名">
	</div>
	<div class="form-group">
		<label class="sr-only" for="idcard">名称</label>
		<input type="text" class="form-control" id="idcard" 
			   placeholder="请输身份证">
	</div>
	<div class="form-group">
		<label class="sr-only" for="tel">名称</label>
		<input type="text" class="form-control" id="tel" 
			   placeholder="请输电话">
	</div>
	
	<button type="submit" class="btn btn-default" onclick="addPassenger()">添加</button>
</form>
  </div>
</div>
<br><br>
<!-- 是否接机 -->
<div class="row">
  <div align="center" >
  		是否接机：是：<input type="radio" name="airService" value=0 >
  		                   否：<input type="radio" name="airService" value=1 checked="checked">
  </div>
</div>
<!-- 是否线下支付 -->
<div class="row">
  <div align="center" >
                   线上支付：<input type="radio" name="offlinepay" value=0 checked="checked">
  		线下支付：<input type="radio" name="offlinepay" value=2>
  </div>
</div>
<div class="row">
  <div align="center" >
  		留言：<input type="text" id="msg">
  </div>
</div>
<!-- 提交订单按钮 -->
<button class="bookbutton" onclick="submitOrder()">提交订单</button>

<!--用户评价 -->
<div class="container" id="commentbox">
  <h3>用户评价</h3> 
  </div>
<!--用户评价 -->  
</body>
</html>