/*娉ㄥ唽鐧诲綍寮�*/
.login-margin{margin:115px auto;}
.reg-margin{margin:90px auto;}
.login-height{height:850px;}
.reg-height{height:990px;background-size:auto 100% !important;}
.login-weight{width:1080px;}
.reg-weight{width:1200px;}

.loginReg-wrapper{clear:both;width:100%;max-width:1920px;background:url(../../images/login/bg.jpg) no-repeat center top;border-top:#F7821B solid 3px;margin:0 auto;}
.loginReg-wrapper .loginReg-viewbox{clear:both;height:auto;}
.loginReg-wrapper .loginReg-viewbox .loginReg-phone{clear:both;width:550px;padding:100px 0 0;float:left;color:#fff;}
.loginReg-wrapper .loginReg-viewbox .loginReg-phone .imgPhone{float:left;margin-right:30px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-phone .infPhone{width:300px;height:auto;float:right;padding:20px 0 0;}
.loginReg-wrapper .loginReg-viewbox .loginReg-phone b{clear:both;font-size: 40px;color: #FFFFFF;font-weight:normal;}
.loginReg-wrapper .loginReg-viewbox .loginReg-phone ul{clear:both;padding:30px 0;}
.loginReg-wrapper .loginReg-viewbox .loginReg-phone li{clear:both;background:url(../../images/dots/point.png) no-repeat left center;padding-left:15px;font-size:18px;line-height:30px;font-weight:normal;}
.loginReg-wrapper .loginReg-viewbox .loginReg-phone .code{fclear:both;}
.loginReg-wrapper .loginReg-viewbox .loginReg-phone .code i{font-size:11px;display:block;clear:both;line-height:35px;}


.loginReg-wrapper .loginReg-viewbox .form-group{position:relative;margin-bottom:20px;}
.loginReg-wrapper .loginReg-viewbox .errMsg{z-index:5;position:absolute;left:10px;bottom:-20px;background:url(../../images/login/error.png) no-repeat left center;padding-left:15px;font-size:11px;color:#F03d00}
.loginReg-wrapper .loginReg-viewbox .alert-right{z-index:5;position:absolute;left:10px;bottom:-18px;background:url(../../images/login/rght.png) no-repeat left center;padding-left:15px;font-size:11px;color:#4eaa25}
.loginReg-wrapper .loginReg-viewbox .alert-error{z-index:5;position:absolute;left:10px;bottom:-18px;background:url(../../images/login/error.png) no-repeat left center;padding-left:15px;font-size:11px;color:#F03d00}



.loginReg-wrapper .loginReg-viewbox .loginReg-panel{width:400px;min-height:600px;background:#FFFFFF;box-shadow: 0px 0px 20px 0px rgba(94,94,94,0.50);border-radius:2px;float:right;}


.loginReg-wrapper .loginReg-viewbox .loginReg-panel .chooseType{padding:10px 25px 0; height:auto;overflow:hidden;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .chooseType li{float:left;display:block;padding:0 20px 0 0;}

.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView{padding:0 20px;display:none;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .form-group{position:relative; margin-left: 0;margin-right: 0;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .inputTit{width:85px;text-align:center;height:48px;line-height:45px;font-weight:normal;font-size:17px;position:absolute;left:0;top:0;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .inputInf{text-indent:94px;font-weight:normal;}

.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .smsPassword{width:110px;height:32px;z-index:5;position:absolute;right:10px;top:8px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .smsPassword .sms-btn{border-left:#ededed solid 1px;text-align:center;line-height:30px;display:block;font-size: 16px;color: #F08519;background:none;padding-left:10px;}

.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .randomCode{width:105px;height:32px;z-index:5;position:absolute;right:10px;top:8px;background:#fdf2e5;border-radius:1px;text-align:center;line-height:30px;}

.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .btn-loginReg{background: #F08519;border-radius:2px;width:100%;padding:0;height:50px;font-size:22px;color:#fff;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .checkbox{margin-top:-5px;font-size:14px;color:#777;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .checked{width:16px;height:16px;margin-top:1px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView span{float:right;line-height:20px;font-size:14px;color:#777;position:relative;z-index:1000;}

.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .form-adv{clear:both;color:#333;text-align:center;padding:0;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .form-adv a{color:#F08519;padding:0 5px;}

.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .third-login{padding:5px 0 0;color:#999;display:block;text-align:center}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .third-login .third-login-font{background:url(../../images/dots/loginline.gif) repeat-x center center;padding-top:10px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .third-login .third-login-font b{font-size:14px;color:#999;background:#fff;padding:0 20px;font-weight:normal;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .third-login .third-login-icon{text-align:center;padding:20px 0 0;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .third-login .third-login-icon a{width:48px;height:48px;display:inline-block;margin:0 20px;}

.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .third-login .third-login-icon a.qq{background:url(../../images/login/qq.png) no-repeat center center;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .third-login .third-login-icon a.qq:hover{background:url(../../images/login/qq-over.png) no-repeat center center;}

.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .third-login .third-login-icon a.wechat{background:url(../../images/login/wechat.png) no-repeat center center;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .third-login .third-login-icon a.wechat:hover{background:url(../../images/login/wechat-over.png) no-repeat center center;}

.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .third-login .third-login-icon a.alipay{background:url(../../images/login/alipay.png) no-repeat center center;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .third-login .third-login-icon a.alipay:hover{background:url(../../images/login/alipay-over.png) no-repeat center center;}


.loginReg-wrapper .loginReg-viewbox .loginReg-member{clear:both;width:770px;height:566px;float:left;color:#fff;border-radius:1px;margin-top:100px;background:url(../../images/login/mbg.png);}
.loginReg-wrapper .loginReg-viewbox .loginReg-member .mb-tit{width:172px;height:34px;margin:59px auto 30px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-member .mb-intro{clear:both;width:680px;text-align:center;margin:45px auto 0;border-bottom: 1px solid #7A7A7A;}
.loginReg-wrapper .loginReg-viewbox .loginReg-member .mb-intro li{width:145px;height:200px;text-align:center;display:inline-block;padding:0 10px;margin:0 10px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-member .mb-intro li b{font-size:24px;display:block;margin-bottom:15px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-member .mb-intro li p{clear:both;display:block;}
.loginReg-wrapper .loginReg-viewbox .loginReg-member .mb-intro li p i{color:#ffac4d;font-size:24px;font-weight:bold;float:left;}
.loginReg-wrapper .loginReg-viewbox .loginReg-member .mb-intro li p span{font-size:16px;display:block;line-height:35px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-member .mb-intro li em{font-size:18px;margin-top:10px;display:inline-block;}
.loginReg-wrapper .loginReg-viewbox .loginReg-member .mb-font{color:#fff;font-size:16px;text-align:center;line-height:35px;margin-top:30px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-member .mb-btn{clear:both;height:24px;margin:0 auto;font-size:12px;color:#fff;border:#fff solid 1px;border-radius:2px;text-align:center;line-height:22px;padding:0 15px;display:block;background:none;}


.loginReg-wrapper .loginReg-viewbox .loginReg-panelview{width:400px;height:700px;background:#FFFFFF;box-shadow: 0px 0px 20px 0px rgba(94,94,94,0.50);border-radius:2px;float:right;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormFont{font-size:12px;color:#777;text-align:center;padding:15px 30px 0;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView{clear:both;padding:15px 40px 25px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .inputTit{width:95px;text-align:center;height:38px;line-height:35px;font-weight:normal;font-size:14px;position:absolute;left:0;top:0;padding-left:10px;text-align:left;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .inputInf{text-indent:95px;height:38px;font-size:14px;font-weight:normal;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .randomCode{width:105px;height:22px;z-index:5;position:absolute;right:10px;top:8px;background:#fdf2e5;border-radius:1px;text-align:center;line-height:30px;}

.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .btn-loginReg{background: #F08519;border-radius: 2px;width:100%;height:50px;font-size:22px;color:#fff;text-align:center;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .checkbox{margin-top:-10px;font-size:14px;color:#777;}

.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .checked{width:16px;height:16px;margin-top:1px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView span{line-height:10px;font-size:14px;color:#666;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView font{width:10px;display:inline-block;float:left;line-height:3;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .code-arrow{background:url(../../images/login/arrow_code.gif) no-repeat 320px center;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .certificateSel{top:49px;left:0;background:#FFF;width:350px;height:auto;color:#222;border:1px solid #D5D5D5;border-bottom:0;cursor:pointer;display:none;position:absolute;z-index:100;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .rmn{line-height:36px;font-size:14px;padding:0 20px;border-bottom:#ddd solid 1px;}
.loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .rmn:hover{background:#F08519;color:#fff;}


.forget-wrapper{clear:both;width:100%;height:850px;background:#f8f8f8 url(../../images/login/forbg.gif) repeat-x top center;overflow:hidden;}
.forget-wrapper .for-steps{width:570px;height:120px;background:url(../../images/dots/loginline.gif) repeat-x center 39px;margin:180px auto 0;}
.forget-wrapper .for-steps .steps{width:78px;height:78px;}
.forget-wrapper .for-steps .steps-1{background:url(../../images/login/steps1.png) no-repeat center top;}
.forget-wrapper .for-steps .steps-2{background:url(../../images/login/steps2.png) no-repeat center top;}
.forget-wrapper .for-steps .steps-3{background:url(../../images/login/steps3.png) no-repeat center top;}
.forget-wrapper .for-steps .steps-2-no{background:url(../../images/login/steps2-no.png) no-repeat center top;margin-left:170px;}
.forget-wrapper .for-steps .steps-3-no{background:url(../../images/login/steps3-no.png) no-repeat center top;}
.forget-wrapper .for-steps .steps-right{background:url(../../images/login/steps-right.png) no-repeat center top;}
.forget-wrapper .for-steps .steps-font{line-height:220px;text-align:center;font-size:18px;color:#999;}


.forget-wrapper .for-form{clear:both;width:340px;margin:100px auto 0;}
.forget-wrapper .for-form .form-group{position:relative;margin-bottom:20px;}
.forget-wrapper .for-form .form-group .alert-right{z-index:5;position:absolute;left:10px;bottom:-18px;background:url(../../images/login/rght.png) no-repeat left center;padding-left:15px;font-size:11px;color:#4eaa25}
.forget-wrapper .for-form .form-group .alert-error{z-index:5;position:absolute;left:10px;bottom:-18px;background:url(../../images/login/error.png) no-repeat left center;padding-left:15px;font-size:11px;color:#F03d00}

.forget-wrapper .for-form .inputTit{width:105px;text-align:center;height:48px;line-height:45px;font-weight:normal;font-size:17px;position:absolute;left:0;top:0;}
.forget-wrapper .for-form .inputInf{text-indent:105px;font-weight:normal;}
.forget-wrapper .for-form .inputPass{border:#ccc solid 1px;}
.forget-wrapper .for-form .smsPassword{width:110px;height:32px;z-index:5;position:absolute;right:10px;top:8px;}
.forget-wrapper .for-form .smsPassword .sms-btn{border-left:#ededed solid 1px;text-align:center;line-height:30px;display:block;font-size: 16px;color: #F08519;background:none;padding-left:10px;}
.forget-wrapper .for-form .randomCode{width:105px;height:32px;z-index:5;position:absolute;right:10px;top:8px;background:#fdf2e5;border-radius:1px;text-align:center;line-height:30px;}

.forget-wrapper .for-form .btn-loginReg{background: #F08519;border-radius: 2px;width:100%;height:50px;font-size:22px;color:#fff;text-align:center;}
.forget-wrapper .for-form span{float:right;line-height:10px;font-size:14px;color:#666;}
.forget-wrapper .for-form font{width:10px;display:inline-block;}
.forget-wrapper .for-form .code-arrow{background:url(../../images/login/arrow_code.gif) no-repeat 320px center;}
.forget-wrapper .for-form .certificateSel{top:46px;left:0;background:#FFF;width:370px;height:auto;color:#222;border:1px solid #D5D5D5;border-bottom:0;cursor:pointer;display:none;position:absolute;z-index:100;}
.forget-wrapper .for-form .rmn{line-height:36px;font-size:14px;padding:0 20px;border-bottom:#ddd solid 1px;}
.forget-wrapper .for-form .rmn:hover{background:#F08519;color:#fff;}

.forget-wrapper .for-success{clear:both;width:340px;margin:100px auto 0;text-align:center;}
.forget-wrapper .for-success b{font-size: 30px;color: #F08519;font-weight:normal;display:block;margin-bottom:10px;}
.forget-wrapper .for-success i{font-size:14px;}
.forget-wrapper .for-success .canbe{font-size:20px;color:#777;clear:both;margin-top:30px;}
.forget-wrapper .for-success .can-btn{padding:5px 20px;border:#F08519 solid 1px;background:none;color:#F08519;display:block;clear:both;margin:15px auto;border-radius:2px;}

.successful-box{clear:both;width:1200px;height:auto;overflow:hidden;border-radius:4px;background:#fff;margin:50px auto;display:block;padding:50px 0;}
.successful{clear:both;width:750px;height:auto;padding:0 0 0 135px;margin:0 auto;display:block;overflow:hidden;background:url(../../images/login/successful.png) no-repeat left top;}
.successful .success-notice{clear:both;line-height:35px;padding:10px 0 0;}
.successful .success-notice b{font-size:20px;color:#333;display:block;}
.successful .success-notice i{font-size:16px;color:#666;display:block;}
.successful .success-btnbox{clear:both;padding:30px 0;}
.successful .success-btnbox a{margin-right:30px;}
.successful .success-btnbox a.success-abtn{background:#f77500;border-radius:2px;padding:10px 30px;color:#fff;font-size:14px;}
.successful .success-btnbox a.success-tbtn{border:#ccc solid 1px;border-radius:2px;padding:10px 30px;color:#666;font-size:14px;}
.successful .success-btnbox a.success-tbtn:hover{background:#f77500;border:#f77500 solid 1px;color:#fff;}
.successful .success-emailbox{border:#b1f981 solid 1px;background:#fcfffa;boder-radius:2px;padding:30px;display:block;}
.successful .success-emailbox b{color:#f77500;font-weight:normal;font-size:18px;}
.successful .success-emailbox p{font-size:16px;colr:#666;padding:20px 0;line-height:30px;}
.successful .success-emailbox .login-abtn{border:#f77500 solid 1px;border-radius:2px;padding:10px 30px;color:#f77500;font-size:14px;}
/*浼氬憳鏈嶅姟鏉℃*/
.reg-model-title{text-align:center;position:relative;line-height:50px;font-size:18px;color:#333;font-weight:bold;}
.reg-model-title .close{width:19px;height:19px;display:block;position:absolute;background:url(../../images/icons/close.png) no-repeat;top:25px;right:30px;background-size:19px;}
.reg-model-content{margin:0 20px 20px;border:#ccc solid 1px;height:320px;padding:20px;display:block;}
.reg-model-scroll{width:100%;height:310px;overflow-x:hidden;overflow-y:scroll;}
.reg-model-scroll b{font-size:16px;color:#333;line-height:35px;}
.reg-model-scroll p{padding:5px 0;line-height:30px;font-size:14px;}
.reg-model-agree{clear:both;height:auto;padding:0 20px 20px;text-align:center;display:block;}
.reg-model-agree .agree-btn{font-size:20px;color:#fff;height:40px;line-height:40px;padding:0 50px;border-radius:2px;background:#E77817;}

.third-login-wrapper{clear:both;width:100%;height:auto;overflow:hidden;background:#f8f8f8;padding:0 0 30px;}
.third-wrapper{width:700px;height:auto;overflow:hidden;display:block;padding:60px 0;margin:0 auto;}
.third-wrapper .third-tabs{clear:both;width:350px;background:#fff;border-radius:3px 3px 0 0;height:60px;display:block;float:left;padding:15px;}

.third-wrapper .third-tabs .tabs{display:block;height:auto;overflow:hidden;font-size:20px;color:#333;}
.third-wrapper .third-tabs .active{color:#F08519;}
.third-wrapper .third-tabs .active a{color:#F08519;}
.third-wrapper .third-tabs .tabs li{float:left;width:50%;line-height:30px;text-align:center;}
.third-wrapper .third-tabs .tabs li.rline{border-right:#e2e2e2 solid 1px;}
.third-wrapper .tab_container{clear:both;height:auto;display:block;padding:30px 50px;width:100%;background:#fff;}
.third-wrapper .tab_container .tab_content{text-align:center;clear:both;display:block;}
.third-wrapper .tab_container .tab_content .prompt-login{font-size:12px;color:#777;text-align:center;padding:10px 30px 30px;line-height:30px;}
.third-wrapper .tab_container .tab_content .prompt-login b{font-size:16px;color:#333;display:block;}
.third-wrapper .tab_container .tab_content .prompt-login span{font-size:16px;color:#333;display:block;font-weight:bold;padding-left:180px;text-align:left;}
.third-wrapper .tab_container .tab_content .prompt-login i{font-size:14px;color:#757575;display:block;}
.third-wrapper .tab_container .tab_content .third-formView{width:350px;display:inline-block;}
.third-wrapper .tab_container .tab_content .third-formView .inputTit{width:90px;height:38px;line-height:35px;font-weight:normal;font-size:14px;float:left;padding-left:10px;}
.third-wrapper .tab_container .tab_content .third-formView .inputInf{width:280px;height:38px;float:right;font-weight:normal;font-size:14px;border-left:1px solid #ccc;}
.third-wrapper .tab_container .tab_content .third-formView .select{
								width:280px;height:38px;float:right;font-weight:normal;font-size:14px;border-left:1px solid #ccc;
								appearance:none;
								-moz-appearance:none;
								-webkit-appearance:none;
								background:url(../../images/login/arrow_code.gif) no-repeat 260px center;
								cursor:pointer;
							}
.third-wrapper .tab_container .tab_content .third-formView select::-ms-expand {display: none;}
.third-wrapper .tab_container .tab_content .third-formView .btn-loginReg{background: #F08519;border-radius: 2px;width:280px;height:50px;font-size:22px;color:#fff;clear:both;float:right;text-align:center;}
.third-wrapper .tab_container .tab_content .third-formView .checkbox{width:280px;margin-top:-5px;font-size:14px;color:#777;clear:both;float:right;text-align:left;}
.third-wrapper .tab_container .tab_content .third-formView .checked{width:16px;height:16px;margin-top:1px;}
.third-wrapper .tab_container .tab_content .third-formView span{float:right;line-height:10px;font-size:14px;color:#666;}
.third-wrapper .tab_container .tab_content .third-formView font{width:10px;display:inline-block;}
.third-wrapper .tab_container .tab_content .third-formView .code-arrow{background:url(../../images/login/arrow_code.gif) no-repeat 230px center;}
.third-wrapper .tab_container .tab_content .third-formView .certificateSel{top:36px;left:0;background:#FFF;width:350px;height:auto;color:#222;border:1px solid #D5D5D5;border-bottom:0;cursor:pointer;display:none;position:absolute;z-index:100;}
.third-wrapper .tab_container .tab_content .third-formView .rmn{line-height:36px;font-size:14px;padding:0 20px;border-bottom:#ddd solid 1px;}
.third-wrapper .tab_container .tab_content .third-formView .rmn:hover{background:#F08519;color:#fff;}

.third-wrapper .tab_container .tab_content .form-group{position:relative;margin-bottom:20px;}
.third-wrapper .tab_container .tab_content .alert-right{z-index:5;position:absolute;left:100px;bottom:-15px;background:url(../../images/login/rght.png) no-repeat left center;padding-left:15px;font-size:11px;color:#4eaa25}
.third-wrapper .tab_container .tab_content .alert-error{z-index:5;position:absolute;left:100px;bottom:-15px;background:url(../../images/login/error.png) no-repeat left center;padding-left:15px;font-size:11px;color:#F03d00}


.loginReg-panelview .loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .inputTit {
    width: 145px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0px;
    padding-left: 10px;
    text-align: left;
}
.loginReg-panelview .loginReg-wrapper .loginReg-viewbox .loginReg-panelview .regFormView .inputInf {
    text-indent: 95px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    background: #FCFCFC;
    font-weight: normal;
}


/*2018 09 25 chenyl*/
.inputTit .ico-down {
    width: 12px;
    line-height: 48px;
    margin-top: 5px;
}

.inputTit button {
    background: none;
    line-height: 48px;
    height: 48px;
    vertical-align: middle;
}
.loginReg-wrapper .loginReg-viewbox .loginReg-panel .formView .phoneTitel{
    padding-right: 6px;
    float: left;
}
.pleaseUseLogin{
    z-index: 5;
    position: absolute;
    right: 10px;
    bottom: -18px;
    padding-left: 7px;
    font-size: 11px;
    color: #666;
}

.regFormView .inputTit button{
    padding-left: 0;
    text-align: left;
    width: 80px;
}


.phoneBox, .mailBox {
    display: none;
}
.phoneBox.active, .mailBox.active {
    display: block;
}
.loginReg-wrapper .dropdown-menu > li > a {
    color: #666;
    font-size: 14px;
}