/*地图*/
  .info {
            border: solid 1px silver;
        }
        div.info-top {
            position: relative;
            background: none repeat scroll 0 0 #F9F9F9;
            border-bottom: 1px solid #CCC;
            border-radius: 5px 5px 0 0;
        }
        div.info-top div {
            display: inline-block;
            color: #333333;
            font-size: 14px;
            font-weight: bold;
            line-height: 31px;
            padding: 0 10px;
        }
        div.info-top img {
            position: absolute;
            top: 10px;
            right: 10px;
            transition-duration: 0.25s;
        }
        div.info-top img:hover {
            box-shadow: 0px 0px 5px #000;
        }
        div.info-middle {
            font-size: 12px;
            padding: 6px;
            line-height: 20px;
        }
        div.info-bottom {
            height: 0px;
            width: 100%;
            clear: both;
            text-align: center;
        }
        div.info-bottom img {
            position: relative;
            z-index: 104;
        }
        span {
            margin-left: 5px;
            font-size: 20px;
        }
        .info-middle img {
            float: left;
            margin-right: 6px;
        }
/*地图样式*/
		.head{
		width: 100%;
		height:45PX;	
		position: fixed;
		top: 0;
		left: 0;
		background-color:#39e826;
		opacity:0.8;
		}
		
		.headtitle{
		margin: 5px 6px;
		text-align:left;
		line-height:45x;
		font-size:25px;
		font-family:楷体;
		font-weight:700;
		color:#4d22dd;
		
		float: left;
		}
		.login{
		margin-top:12px;
		width: 50px;		
	   
		font-size:16px;
		float: right;
		text-align: left;
		}
		.loginimg {
		width: 25px;
		 line-height:45x;
	
		text-align: right;
		float: right;	
		}
		.loginimg img{
		margin-top:12px;
		width: 20px;
	
		}	
		
		#myCarousel{
		width:53%;
		margin:auto;
		margin-top:80px;
		}
		
		
/* 客房信息 */		

#lists{
	width: 1000px;
	border: 0;
	margin: 0 auto ;
	border-spacing: 0px;
}
#lists td,th{
	text-align:center;
	border-bottom: 1px solid #ccc;
	height:70px;
}
#lists tr:hover{
	background-color: #ddd;
		
}
.td-g-img{
	width: 25%;
	
}
.td-g-img img{
	height: 70px;
	border-radius: 60%;
}
td img:hover{
	cursor: pointer;
}

.button{
background-color:#fdbb31;
border-radius:6px;
width:85px;
height:30px;
border:2px solid;
}
.buttonfull{
background-color:#c0c0c0;
border-radius:6px;
width:85px;
height:30px;
border:2px solid;
}
.typedetail{
background-color:#efefef;
width:25%;	
border-radius:6px;
border:2px solid;
margin:auto;
margin-top:60px;
font-size: 20px;	
}

.typedetail img{
	width:100%;
}



.item img{
	width:100%;
	
}
/*留言*/
.message{
margin-left:900px;		
}
/* 提交订单按钮 */
.bookbutton{
background-color:#cc4200;
border-radius:6px;
width:120px;
height:40px;
border:3px solid ;	
font-family: 楷体;
font-size: 20px;
font-weight: 700;
margin-top:40px;
margin-left:900px;	
	
}
.addpassengerbutton{
margin-left:1200px;
background-color:#00ffff;
border-radius:6px;
width:120px;
height:35px;
border:3px solid ;	
font-family: 楷体;
font-size: 18px;
font-weight: 700;	
}
.addpassenger{
	margin-left:630px;
}
.offlinepaybutton{
background-color:#c0c0c0;
border-radius:6px;
width:120px;
height:46px;
border:2px solid;
}
.onlinepaybutton{
	
background-color:#fe9901;
border-radius:6px;
width:120px;
height:46px;
border:2px solid;

}
.cancelbutton{
background-color:#80ff00;
border-radius:6px;
width:85px;
height:46px;
border:2px solid;
}
.orderRoomInfo{
width:24%;	
border:12px solid #c0c0c0;
margin-left:800px;
border-radius:8px;	
font-size: 23px;	
}
.orderRoomInfo img{
width:100%;
	
}
.map{
margin-left:80px;
	
}